.password-wrapper .passcode-buttons .passcode-button {
  margin: 1px;
  padding: 5px;
  width: 30%;
}
.password-wrapper .passcode-buttons .passcode-button .button-wrapper {
  min-height: 100px;
}
@media (max-width: 767px) {
  .password-wrapper .passcode-buttons .passcode-button .button-wrapper {
    min-height: 60px;
  }
}
.password-wrapper .passcode-buttons .passcode-button .button-wrapper .button-text {
  font-size: 36px;
  height: 70px;
  padding-top: 30px;
  width: 100%;
}
@media (max-width: 767px) {
  .password-wrapper .passcode-buttons .passcode-button .button-wrapper .button-text {
    font-size: 24px;
    height: 40px;
    padding-top: 16px;
  }
}
.password-wrapper .passcode-buttons .passcode-button .button-wrapper .button-sub-text {
  width: 100%;
}
.password-wrapper .passcode {
  height: 70px;
  text-align: left;
}
.password-text-wrapper {
  font-size: 105px;
  letter-spacing: 12px;
  padding: 50px 0;
  text-align: center;
}
@media (max-width: 767px) {
  .password-text-wrapper {
    font-size: 80px;
    letter-spacing: 12px;
    padding: 10px 0;
  }
}
.password-text-wrapper .errors {
  color: #ff5555;
}
