.settings-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100vh;
    padding: 20px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.settings-container .footer {
    background-color: #ffffff;
    bottom: 0;
    border-top: solid 1px #c3c3c3;
    height: 72px;
    left: 12px;
    padding-top: 10px;
    position: fixed;
    width: 100%;
}

.settings-container .footer .back-button-wrapper {
    width:50%;
}

.settings-content {
    padding-top: 120px;
    width: 100%;
}
.settings-content.customers{
    padding-top:0;
}
.settings-content.EXISTING_SELECTION,
.settings-content.CREATE_NEW {
    padding-top:60px;
}
.settings-content .products-wrapper {
    overflow-y: scroll;
    height: 100%;
}
.settings-content .products-wrapper .add-new-product{
    width:50%!important;
    right:12px!important;
    font-size: 20px!important;
    bottom: 10px!important;
    height: 50px!important;
}
.settings-content .ui.dividing.header {
    background-color: #ffffff;
    height: 60px;
    padding-top: 20px;
    position: absolute;
    top: 0;
    width: 75vw;
    z-index: 10;
}
.settings-content .ui.card>.image, .ui.cards>.card>.image {
    background-color: #ffffff;
    margin: 10px 0;
}
.settings-content .ui.card>.extra, .ui.cards>.card>.extra {
    font-size: 18px;
    text-align: center;
}
