.review-order-wrapper .customer-wrapper {
  width: 105%;
  height: 113px;
  background-color: #f1f1f1;
  margin-left: -14px;
  padding: 15px;
  position: relative;
}
.review-order-wrapper .customer-wrapper .customer-text {
  font-size: 16px;
  font-weight: bold;
  color: #343434;
  padding-bottom: 10px;
}
.review-order-wrapper .customer-wrapper .edit-customer {
  width: 27px;
  height: 18px;
  font-size: 16px;
  color: #00aeef;
  position: absolute;
  right: 15px;
  bottom: 15px;
}
.review-order-wrapper .items-text {
  font-size: 16px;
  color: #343434;
  padding: 10px;
}
.review-order-wrapper .complete-order-wrapper {
  position: absolute;
  bottom: 10px;
  right: -5px;
  z-index: 100;
}
