* {
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Disable selection/copy in UIWebView */
}
.uwm-container {
    height: 100vh;
}

.uwm-content {
    width: calc(100vw - 150px);
}

.uwm-content.login {
    width: 100%;
}
